1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [2]:
def add(x1, x2): 
    return x1 + x2

def myreduce(func, seq):
    first = seq[0]
    for i in seq[1:]:
        first = func(first, i)
    return first

print(myreduce(add, [1, 2, 3, 4]))

10

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [5]:
def is_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

def filter(function, l1):
  for i in l1:
    print(function(i))

l1 = [2,4,7,8,5,6]
filter(is_even, l1)

True
True
False
True
False
True

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [8]:
word = "ACADGILD"
alphabet_list = [ alphabet for alphabet in word ]
print (alphabet_list)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [11]:
input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,4)  ]
print(result)

['x', 'xx', 'xxx', 'y', 'yy', 'yyy', 'z', 'zz', 'zzz']

In [15]:
input_list = ['x','y','z']
result = [ item*num for num in range(1,4) for item in input_list  ]
print(result)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz']

In [16]:
input_list = [2,3,4]
result = [ [item+num] for item in input_list for num in range(0,3)]
print(result)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [17]:
input_list = [2,3,4,5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [18]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print(result)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]